# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are
summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Seaborn

**Objectives:**
* List popular languages for Data Science
* List popular arithmetic for Data Science
* List popular libraries for Data Science

|Data Science Tools|
|---|
|Github|
|Anaconda|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Jacky YU